body {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
}

#canvas {
  /* margin: auto; */
  /* display: flexbox; */
  /* position: relative; */
  /* justify-self: center; */
  /* align-self: center; */
}

/* .brick {
  background-color: chartreuse;

} */